<section class="relative">

  <!-- Background image -->
  <div class="absolute inset-0">
    <%= image_pack_tag 'magny-cours.jpg', class: 'w-full h-full object-cover', width:'1440', height:'394', alt: 'Ligne droite des stands à Magny-Cours' %>
      <div class="absolute inset-0 bg-gray-900 opacity-75" aria-hidden="true"></div>
  </div>

  <!-- Hero content -->
  <div class="max-w-6xl mx-auto px-4 sm:px-6 relative">
      <div class="pt-32 pb-12 md:pt-40 md:pb-20">
          <div class="max-w-3xl mx-auto text-center">
              <h1 class="h1 mb-4" data-aos="fade-up">The Full Track Dev</h1>
              <p class="text-xl text-gray-400 mb-8" data-aos="fade-up" data-aos-delay="200">Développeur backend, pilote de course</p>
          </div>
      </div>
  </div>

</section>



<section class="relative -mt-8">
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
      <div class="max-w-3xl mx-auto">
          <div class="relative w-full h-0 pb-3/4">
              <figure class="absolute h-auto" style="top:45%;width: 41.67%;max-width: 320px;" data-aos="fade-right">
                <%= image_pack_tag 'code2-min.jpg', width:'320', height:'240', alt: 'Code CSS' %>
              </figure>
              <figure class="relative mx-auto h-auto" style="width: 78.13%;max-width: 600px;" data-aos="fade-down" data-aos-delay="100">
                <%= image_pack_tag 'magny-cours.jpg', width:'600', height:'338', alt: 'Ligne droite des stands à Magny-Cours' %>
              </figure>
              <figure class="absolute h-auto" style="top: 8.5%;right: 0;width: 32.55%;max-width: 250px;" data-aos="fade-left" data-aos-delay="200">
                <%= image_pack_tag 'photo-profil.jpg', width:'250', height:'188', alt: "Photo de l'auteur" %>
              </figure>
              <figure class="absolute h-auto" style="bottom: 0;right: 20%;width: 25.52%;max-width: 196px;" data-aos="fade-up" data-aos-delay="300">
                <%= image_pack_tag 'ruby.png', width:'196', height:'196', alt: 'Logo du langage Ruby' %>
              </figure>
          </div>
      </div>
  </div>
</section>



<section>
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
      <div class="py-12 md:py-20">

          <!-- Section header -->
          <div class="max-w-3xl mx-auto text-center pb-12 md:pb-20">
              <h2 class="h2 mb-4">Le meilleur, sinon rien.</h2>
              <p class="text-xl text-gray-400">Quel que soit le sujet qui m'est confié, je ne sais pas faire les choses à moitié. Je vis chaque expérience professionnelle à fond et ne peux m'empêcher de me donner à 100%.
              </p>
          </div>


        <div class="grid grid-cols-1 md:gap-10 md:grid-cols-2">
          <!-- Pro -->
          <div class="max-w-7xl mx-auto -my-4 md:-my-6" data-aos-id-timeline>

              <!-- 1st item -->
              <div class="relative py-4 md:py-6 pl-24" data-aos="fade-up" data-aos-anchor="[data-aos-id-timeline]">
                  <div class="pl-2">
                      <div class="font-architects-daughter text-xl text-purple-600 mb-2">Full Track Dev</div>
                      <div class="flex items-center mb-3">
                          <div class="absolute left-0 inline-flex text-sm font-semibold py-1 px-3 text-green-600 bg-green-200 rounded-full">2021</div>
                          <div class="absolute left-0 h-full px-px bg-gray-800 ml-20 self-start transform -translate-x-1/2 translate-y-3" aria-hidden="true"></div>
                          <div class="absolute left-0 w-2 h-2 bg-purple-600 border-4 box-content border-gray-900 rounded-full ml-20 transform -translate-x-1/2" aria-hidden="true"></div>
                          <h4 class="h4">Développeur freelance backend (100% remote)</h4>
                      </div>
                      <p class="text-lg text-gray-400">
                        <ul">
                          <li> Développement fullstack (Ruby / Vue.js) pour <a class="text-purple-500" href="https://vera-app.fr/">Véra</a> (via Captive)</li>
                          <li> Rédaction du cursus Clean-Code (RSpec) chez <a class="text-purple-500" href="thehackingproject.org">The Hacking Project</a></li>
                          <li> Réduction de la dette technique (Ruby / Ruby on Rails) chez <a class="text-purple-500" href="thehackingproject.org">The Hacking Project</a></li>
                          <li> Développement d'interface IA (Angular) pour l'<a class="text-purple-500" href="https://www.ofb.gouv.fr/"></a></li>
                        </ul>
                      </p>
                  </div>
              </div>

              <!-- 2nd item -->
              <div class="relative py-4 md:py-6 pl-24" data-aos="fade-up" data-aos-delay="200" data-aos-anchor="[data-aos-id-timeline]">
                  <div class="pl-2">
                      <div class="font-architects-daughter text-xl text-purple-600 mb-2">Cardiologs</div>
                      <div class="flex items-center mb-3">
                          <div class="absolute left-0 inline-flex text-sm font-semibold py-1 px-3 text-green-600 bg-green-200 rounded-full">2021</div>
                          <div class="absolute left-0 h-full px-px bg-gray-800 ml-20 self-start transform -translate-x-1/2 translate-y-3" aria-hidden="true"></div>
                          <div class="absolute left-0 w-2 h-2 bg-purple-600 border-4 box-content border-gray-900 rounded-full ml-20 transform -translate-x-1/2" aria-hidden="true"></div>
                          <h4 class="h4">Software Backend Engineer (100% remote)</h4>
                      </div>
                      <p class="text-lg text-gray-400">Extension de l'api existante pour accueillir un nouveau produit sous smart-watch. Ruby, RSpec, Mocha, Docker, Cardiologie.</p>
                  </div>
              </div>

              <!-- 3rd item -->
              <div class="relative py-4 md:py-6 pl-24" data-aos="fade-up" data-aos-delay="400" data-aos-anchor="[data-aos-id-timeline]">
                  <div class="pl-2">
                      <div class="font-architects-daughter text-xl text-purple-600 mb-2">ADN</div>
                      <div class="flex items-center mb-3">
                          <div class="absolute left-0 inline-flex text-sm font-semibold py-1 px-3 text-green-600 bg-green-200 rounded-full">2019</div>
                          <div class="absolute left-0 h-full px-px bg-gray-800 ml-20 self-start transform -translate-x-1/2 translate-y-3" aria-hidden="true"></div>
                          <div class="absolute left-0 w-2 h-2 bg-purple-600 border-4 box-content border-gray-900 rounded-full ml-20 transform -translate-x-1/2" aria-hidden="true"></div>
                          <h4 class="h4">Scrum master, Team Manager et Développeur Angular junior (100% remote)</h4>
                      </div>
                      <p class="text-lg text-gray-400">
                        J'ai multiplié par 12 (oui... 12) la productivité de l'équipe, en mettant en place une organisation agile et en améliorant les relations interpersonnelles au sein de l'équipe.
                    </p>
                  </div>
              </div>

              <!-- 4th item -->
              <div class="relative py-4 md:py-6 pl-24" data-aos="fade-up" data-aos-delay="600" data-aos-anchor="[data-aos-id-timeline]">
                  <div class="pl-2">
                      <div class="font-architects-daughter text-xl text-purple-600 mb-2">Kyllt.</div>
                      <div class="flex items-center mb-3">
                          <div class="absolute left-0 inline-flex text-sm font-semibold py-1 px-3 text-green-600 bg-green-200 rounded-full">2019</div>
                          <div class="absolute left-0 h-full px-px bg-gray-800 ml-20 self-start transform -translate-x-1/2 translate-y-3" aria-hidden="true"></div>
                          <div class="absolute left-0 w-2 h-2 bg-purple-600 border-4 box-content border-gray-900 rounded-full ml-20 transform -translate-x-1/2" aria-hidden="true"></div>
                          <h4 class="h4">Co-Founder</h4>
                      </div>
                      <p class="text-lg text-gray-400">Plateforme de connexion entre artistes et mécènes</p>
                  </div>
              </div>

              <!-- 5th item -->
              <div class="relative py-4 md:py-6 pl-24" data-aos="fade-up" data-aos-delay="600" data-aos-anchor="[data-aos-id-timeline]">
                <div class="pl-2">
                    <div class="font-architects-daughter text-xl text-purple-600 mb-2">The Hacking Project</div>
                    <div class="flex items-center mb-3">
                        <div class="absolute left-0 inline-flex text-sm font-semibold py-1 px-3 text-green-600 bg-green-200 rounded-full">2019</div>
                        <div class="absolute left-0 h-full px-px bg-gray-800 ml-20 self-start transform -translate-x-1/2 translate-y-3" aria-hidden="true"></div>
                        <div class="absolute left-0 w-2 h-2 bg-purple-600 border-4 box-content border-gray-900 rounded-full ml-20 transform -translate-x-1/2" aria-hidden="true"></div>
                        <h4 class="h4">Reconversion</h4>
                    </div>
                    <p class="text-lg text-gray-400">
                        Au hasard d'une expérience entrepreneuriale, et ayant besoin de recruter quelqu'un sachant développer, je décide d'apprendre le développement web.
                        À la sortie, je découvre ma voie et mon amour pour le code, cet outil qui permet de résoudre les problématiques des autres, raison pour laquelle j'avais choisi des études d'ingénieur à l'origine, 8 ans plus tôt.
                    </p>
                </div>
            </div>

            <!-- 6th item -->
            <div class="relative py-4 md:py-6 pl-24" data-aos="fade-up" data-aos-delay="600" data-aos-anchor="[data-aos-id-timeline]">
                <div class="pl-2">
                    <div class="font-architects-daughter text-xl text-purple-600 mb-2">Avant 2018. . .</div>
                    <div class="flex items-center mb-3">
                        <div class="absolute left-0 inline-flex text-sm font-semibold py-1 px-3 text-green-600 bg-green-200 rounded-full"> . . .</div>
                        <div class="absolute left-0 h-full px-px bg-gray-800 ml-20 self-start transform -translate-x-1/2 translate-y-3" aria-hidden="true"></div>
                        <div class="absolute left-0 w-2 h-2 bg-purple-600 border-4 box-content border-gray-900 rounded-full ml-20 transform -translate-x-1/2" aria-hidden="true"></div>
                        <h4 class="h4">... dans une autre vie</h4>
                    </div>
                    <p class="text-lg text-gray-400">Après un diplôme d'ingénieur en 2010 en Mathématiques appliquées à la mécanique, spécialisés en mécanique des fluides et thermique, je passe près de 7 années entre l'industrie automobile et aéronautique.
                        Cette histoire m'a permis d'obtenir de solides compétences en management international, gestion de projet et relations humaines à travers de grands projets d'innovations.
                        Le mieux, reste encore de lire <a class="text-purple-500" href="https://www.linkedin.com/in/nicolas-hermet/">mon parcours LinkedIn</a>  qui est toujours complet.</p>
                </div>
            </div>
          </div>


          <!-- Course Auto -->
          <div class="max-w-7xl mx-auto -my-4 md:-my-6" data-aos-id-timeline>

            <!-- 1st item -->
            <div class="relative py-4 md:py-6 pl-24" data-aos="fade-up" data-aos-anchor="[data-aos-id-timeline]">
                <div class="pl-2">
                    <div class="font-architects-daughter text-xl text-purple-600 mb-2">Classic Racing School</div>
                    <div class="flex items-center mb-3">
                        <div class="absolute left-0 inline-flex text-sm font-semibold py-1 px-3 text-green-600 bg-green-200 rounded-full">2022</div>
                        <div class="absolute left-0 h-full px-px bg-gray-800 ml-20 self-start transform -translate-x-1/2 translate-y-3" aria-hidden="true"></div>
                        <div class="absolute left-0 w-2 h-2 bg-purple-600 border-4 box-content border-gray-900 rounded-full ml-20 transform -translate-x-1/2" aria-hidden="true"></div>
                        <h4 class="h4">Challenge Formule Ford Historique</h4>
                    </div>
                    <p class="text-lg text-gray-400">Tour de France Historique des circuits en Lotus 69 et Crosslé 16F
                        Vainqueur à Magny-Cours
                        Abandon à Lédenon
                        4ème à Dijon
                        3ème au Grand-Prix de France Historique au Castellet.
                    </p>
                </div>
            </div>

            <!-- 2nd item -->
            <div class="relative py-4 md:py-6 pl-24" data-aos="fade-up" data-aos-delay="200" data-aos-anchor="[data-aos-id-timeline]">
                <div class="pl-2">
                    <div class="font-architects-daughter text-xl text-purple-600 mb-2">Volant Michel Vaillant x Yema</div>
                    <div class="flex items-center mb-3">
                        <div class="absolute left-0 inline-flex text-sm font-semibold py-1 px-3 text-green-600 bg-green-200 rounded-full">2021</div>
                        <div class="absolute left-0 h-full px-px bg-gray-800 ml-20 self-start transform -translate-x-1/2 translate-y-3" aria-hidden="true"></div>
                        <div class="absolute left-0 w-2 h-2 bg-purple-600 border-4 box-content border-gray-900 rounded-full ml-20 transform -translate-x-1/2" aria-hidden="true"></div>
                        <h4 class="h4">Vainqueur de la première édition du <a class="text-purple-500" href="https://www.vaillante-academie.fr/volant-michel-vaillant/">volant</a></h4>
                    </div>
                    <p class="text-lg text-gray-400">3 jours de formations intense se terminantn par une épreuve chronométrée.</p>
                </div>
            </div>

            <!-- 3rd item -->
            <div class="relative py-4 md:py-6 pl-24" data-aos="fade-up" data-aos-delay="400" data-aos-anchor="[data-aos-id-timeline]">
                <div class="pl-2">
                    <div class="font-architects-daughter text-xl text-purple-600 mb-2">SWS</div>
                    <div class="flex items-center mb-3">
                        <div class="absolute left-0 inline-flex text-sm font-semibold py-1 px-3 text-green-600 bg-green-200 rounded-full">2016</div>
                        <div class="absolute left-0 h-full px-px bg-gray-800 ml-20 self-start transform -translate-x-1/2 translate-y-3" aria-hidden="true"></div>
                        <div class="absolute left-0 w-2 h-2 bg-purple-600 border-4 box-content border-gray-900 rounded-full ml-20 transform -translate-x-1/2" aria-hidden="true"></div>
                        <h4 class="h4">10ème du Championnat du monde endurance <a class="text-purple-500" href="https://www.sodiwseries.com/fr-fr/">Sodi World Series</a></h4>
                    </div>
                    <p class="text-lg text-gray-400">Qualifié 3ème équipe Française, et 5ème internationnale.</p>
                </div>
            </div>

            <!-- 4th item -->
            <div class="relative py-4 md:py-6 pl-24" data-aos="fade-up" data-aos-delay="600" data-aos-anchor="[data-aos-id-timeline]">
                <div class="pl-2">
                    <div class="font-architects-daughter text-xl text-purple-600 mb-2">SWS</div>
                    <div class="flex items-center mb-3">
                        <div class="absolute left-0 inline-flex text-sm font-semibold py-1 px-3 text-green-600 bg-green-200 rounded-full">2015</div>
                        <div class="absolute left-0 h-full px-px bg-gray-800 ml-20 self-start transform -translate-x-1/2 translate-y-3" aria-hidden="true"></div>
                        <div class="absolute left-0 w-2 h-2 bg-purple-600 border-4 box-content border-gray-900 rounded-full ml-20 transform -translate-x-1/2" aria-hidden="true"></div>
                        <h4 class="h4">30ème du Championnat du monde endurance <a class="text-purple-500" href="https://www.sodiwseries.com/fr-fr/">Sodi World Series</a></h4>
                    </div>
                    <!-- <p class="text-lg text-gray-400">Pretium lectus quam id leo. Urna et pharetra pharetra massa massa. Adipiscing enim eu neque aliquam vestibulum morbi blandit cursus risus.</p> -->
                </div>
            </div>

            <!-- 5th item -->
            <div class="relative py-4 md:py-6 pl-24" data-aos="fade-up" data-aos-delay="600" data-aos-anchor="[data-aos-id-timeline]">
                <div class="pl-2">
                    <div class="font-architects-daughter text-xl text-purple-600 mb-2">SWS</div>
                    <div class="flex items-center mb-3">
                        <div class="absolute left-0 inline-flex text-sm font-semibold py-1 px-3 text-green-600 bg-green-200 rounded-full">2014</div>
                        <div class="absolute left-0 h-full px-px bg-gray-800 ml-20 self-start transform -translate-x-1/2 translate-y-3" aria-hidden="true"></div>
                        <div class="absolute left-0 w-2 h-2 bg-purple-600 border-4 box-content border-gray-900 rounded-full ml-20 transform -translate-x-1/2" aria-hidden="true"></div>
                        <h4 class="h4">Participation au Championnat du monde endurance <a class="text-purple-500" href="https://www.sodiwseries.com/fr-fr/">Sodi World Series</a></a></h4>
                    </div>
                    <!-- <p class="text-lg text-gray-400">Pretium lectus quam id leo. Urna et pharetra pharetra massa massa. Adipiscing enim eu neque aliquam vestibulum morbi blandit cursus risus.</p> -->
                </div>
            </div>

            <!-- 6th item -->
            <div class="relative py-4 md:py-6 pl-24" data-aos="fade-up" data-aos-delay="600" data-aos-anchor="[data-aos-id-timeline]">
                <div class="pl-2">
                    <div class="font-architects-daughter text-xl text-purple-600 mb-2">Première course de karting loisir</div>
                    <div class="flex items-center mb-3">
                        <div class="absolute left-0 inline-flex text-sm font-semibold py-1 px-3 text-green-600 bg-green-200 rounded-full">2012</div>
                        <div class="absolute left-0 h-full px-px bg-gray-800 ml-20 self-start transform -translate-x-1/2 translate-y-3" aria-hidden="true"></div>
                        <div class="absolute left-0 w-2 h-2 bg-purple-600 border-4 box-content border-gray-900 rounded-full ml-20 transform -translate-x-1/2" aria-hidden="true"></div>
                        <h4 class="h4">Course d'endurance inter entreprise.</h4>
                    </div>
                    <p class="text-lg text-gray-400">Même si j'ai pratiqué le karting dès l'age de 13 ans, c'est à cette occasion que j'ai découvert les joies de la course. C'est cette course qui fut le départ
                        d'une véritable révélation pour moi.
                    </p>
                </div>
            </div>

        </div>
      </div>

      </div>
  </div>
</section>

<!-- Portofolio -->
<section>
    <div class="max-w-6xl mx-auto px-4 sm:px-6">
        <div class="py-12 md:py-20 border-t border-gray-800">

            <!-- Section header -->
            <div class="max-w-3xl mx-auto text-center pb-12 md:pb-16">
                <h1 class="h2 mb-4">Quelques réalisation depuis 2018</h1>
                <p class="text-xl text-gray-400">Ces projets sont laissés "dans leur jus". Le code n'est donc pas parfait et vous trouverez surement des bugs.
                    Mais de cette manière, je garde une trace de ma propre progression personnelle.
                    </p> <br> <p class="text-xl text-gray-400"> Une manière de me souvenir régulièrement d'où je viens, et garder la motivation
                à continuellement m'améliorer et apprendre de nouvelles choses.</p>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-6">


            </div>

            <!-- Items -->
            <div class="grid gap-2 grid-cols-2 md:grid-cols-4" data-aos-id-clients>

                    <a class="max-w-full fill-current text-gray-500" target="_blank" href="https://kyllt.herokuapp.com/" data-aos="fade-up" data-aos-anchor="[data-aos-id-clients]"><%= image_pack_tag 'Kyllt.png', class: "rounded w-full bg-gray-700 h-36 lg:h-72 object-cover transform transition-all hover:scale-110"%></a>

                    <a class="max-w-full fill-current text-gray-500" target="_blank" href="https://shielded-garden-50903.herokuapp.com/" data-aos="fade-up" data-aos-delay="100" data-aos-anchor="[data-aos-id-clients]"><%= image_pack_tag 'Shop.jpg', class: "rounded w-full bg-gray-700 h-36 lg:h-72 object-cover transform transition-all hover:scale-110"%></a>

                    <a class="max-w-full fill-current text-gray-500" target="_blank" href="https://cardiologs.com/" data-aos="fade-up" data-aos-delay="200" data-aos-anchor="[data-aos-id-clients]"><%= image_pack_tag 'Cardiologs.png', class: "rounded w-full bg-gray-700 h-36 lg:h-72 object-cover transform transition-all hover:scale-110"%></a>

                    <a class="max-w-full fill-current text-gray-500" target="_blank" href="https://www.thehackingproject.org/" data-aos="fade-up" data-aos-delay="300" data-aos-anchor="[data-aos-id-clients]"><%= image_pack_tag 'THP.png', class: "rounded w-full bg-gray-700 h-36 lg:h-72 object-cover transform transition-all hover:scale-110"%></a>

                    <a class="max-w-full fill-current text-gray-500" target="_blank" href="https://www.maiu.fr" data-aos="fade-up" data-aos-delay="400" data-aos-anchor="[data-aos-id-clients]"><%= image_pack_tag 'maiu.png', class: "rounded w-full bg-gray-700 h-36 lg:h-72 object-cover transform transition-all hover:scale-110"%></a>
            </div>
        </div>
    </div>
</section>

<!-- Mes derniers articles -->
<section class="relative">
    <div class="max-w-6xl mx-auto px-4 sm:px-6">
      <div class="pt-32 pb-12 md:pt-40 md:pb-20">
        <div class="max-w-sm mx-auto md:max-w-none">

            <!-- Section title -->
            <h4 class="h4 pb-6 mb-10 border-b border-gray-700" data-aos="fade-up">Mes derniers articles</h4>

            <!-- Articles container -->
            <div class="grid gap-12 md:grid-cols-3 md:gap-x-6 md:gap-y-8 items-start">
                <% @articles.each do |article| %>
                <!-- 1st article -->
                <article class="flex flex-col h-full" data-aos="fade-up">
                    <header>
                        <%= link_to article, class: 'block mb-6' do %>
                        <figure class="relative h-0 pb-9/16 overflow-hidden rounded-sm">
                            <!-- <img class="absolute inset-0 w-full h-full object-cover transform hover:scale-105 transition duration-700 ease-out" src="../images/news-01.jpg" width="352" height="198" alt="News 01"> -->
                        </figure>
                        <% end %>
                        <div class="mb-3">
                            <ul class="flex flex-wrap text-xs font-medium -m-1">
                                <li class="m-1">
                                    <a class="inline-flex text-center text-gray-100 py-1 px-3 rounded-full bg-purple-600 hover:bg-purple-700 transition duration-150 ease-in-out" href="#0"><%= article.category %></a>
                                </li>
                                <% if current_admin && article.status %>
                                    <% if article.published? %>
                                    <li class="m-1">
                                        <a class="inline-flex text-center text-gray-100 py-1 px-3 rounded-full bg-green-500 hover:bg-green-600 transition duration-150 ease-in-out" href="#0"><%= @articles[0].status %></a>
                                    </li>
                                    <% else %>
                                    <li class="m-1">
                                        <a class="inline-flex text-center text-gray-100 py-1 px-3 rounded-full bg-red-500 hover:bg-red-600 transition duration-150 ease-in-out" href="#0"><%= @articles[0].status %></a>
                                    </li>
                                    <% end %>
                                <% end %>
                            </ul>
                        </div>
                        <h3 class="h4 mb-2">
                            <%= link_to article.title, article, class: 'hover:text-gray-100 transition duration-150 ease-in-out' %>
                            <!-- <a class="hover:text-gray-100 transition duration-150 ease-in-out" href="blog-post.html">The quick brown fox jumped over the lazy dog.</a> -->
                        </h3>
                    </header>
                    <p class="text-lg text-gray-400 grow"><%= article.content.to_plain_text.split('\n\n', 2)[0] %></p>
                    <footer class="flex items-center mt-4">
                        <span class="text-gray-500"><%= article.published_at&.to_date %></span>
                        <% if current_admin %>
                        <span class="text-gray-500 mx-1">  <%= link_to 'Edit', edit_article_path(article) %>  </span>
                        <span class="text-gray-500 mx-1">  <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>  </span>
                        <% end %>
                    </footer>
                </article>
                <% end %>
            </div>
        </div>
    </div>
</div>
</section>
