<!-- Hero -->
<div class="container mt-16 flex justify-between items-center mx-auto px-8 md:px-14 lg:px-24 w-full">
  <div class="flex flex-wrap md:flex-nowrap">

      <nav class="inline-block lg:mr-24 lg:w-4 fixed left-percentage hidden xl:block">
          <div class="absolute left-50 transform -translate-x-1/2 space-y-6 mt-36">
              <a href="#full" class="nav-dot block w-7 h-7 rounded-full border-4 border-nav bg-body">
                  <span class="bg-black px-2 py-1 rounded-md ml-10 opacity-0">Accueil</span>
              </a>
              <a href="#work" class="nav-dot block w-7 h-7 rounded-full border-4 border-nav bg-body">
                  <span class="bg-black px-2 py-1 rounded-md ml-10 opacity-0">Activités</span>
              </a>
              <a href="#clients" class="nav-dot block w-7 h-7 rounded-full border-4 border-nav bg-body">
                  <span class="bg-black px-2 py-1 rounded-md ml-10 opacity-0">Comment</span>
              </a>
              <a href="#hire" class="nav-dot block w-7 h-7 rounded-full border-4 border-nav bg-body">
                  <span class="bg-black px-2 py-1 rounded-md ml-10 opacity-0">Discutons</span>
              </a>
          </div>
      </nav>

      <div class="flex flex-wrap lg:ml-20 justify-center md:justify-start max-w-xl mt-0 md:my-36">
          <h1 id="full" class="font-bold text-5xl md:text-6xl lg:text-7xl text-center md:text-left">Améliorer<br>votre croissance business.</h1>
          <div class="w-full flex justify-center md:justify-start">
              <button class="px-8 py-4 bg-theme text-white font-bold mt-12 flex items-center space-x-3" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/fulltrackdev/site-web-developpement-backend-consulting-clone?hide_event_type_details=1&hide_gdpr_banner=1'});return false;">
                  <div>
                      <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M14.4375 11C14.4375 11.9117 14.0753 12.786 13.4307 13.4307C12.786 14.0753 11.9117 14.4375 11 14.4375C10.0883 14.4375 9.21398 14.0753 8.56932 13.4307C7.92466 12.786 7.5625 11.9117 7.5625 11C7.5625 10.0883 7.92466 9.21398 8.56932 8.56932C9.21398 7.92466 10.0883 7.5625 11 7.5625C11.9117 7.5625 12.786 7.92466 13.4307 8.56932C14.0753 9.21398 14.4375 10.0883 14.4375 11Z" fill="white"/>
                          <path d="M0 11C0 11 4.125 3.4375 11 3.4375C17.875 3.4375 22 11 22 11C22 11 17.875 18.5625 11 18.5625C4.125 18.5625 0 11 0 11ZM11 15.8125C12.2764 15.8125 13.5004 15.3055 14.403 14.403C15.3055 13.5004 15.8125 12.2764 15.8125 11C15.8125 9.72365 15.3055 8.49957 14.403 7.59705C13.5004 6.69453 12.2764 6.1875 11 6.1875C9.72365 6.1875 8.49957 6.69453 7.59705 7.59705C6.69453 8.49957 6.1875 9.72365 6.1875 11C6.1875 12.2764 6.69453 13.5004 7.59705 14.403C8.49957 15.3055 9.72365 15.8125 11 15.8125Z" fill="white"/>
                      </svg>
                  </div>
                  <span>Discutons</span>
              </button>
          </div>
      </div>
    <%= image_pack_tag 'code2-min.jpg', class: "w-3/4 mt-12 md:absolute -mt-6 md:mt-0 right-0 -z-1"%>
  </div>
</div>

<!-- My work -->
<div class="container mt-64 flex justify-between items-center mx-auto px-10 md:px-16 lg:px-36 w-full">
  <section class="w-full space-y-12 my-16">
    <h2 id="work" class="secondary-title">Mes Activités</h2>
    <p class="section-paragraph text-xl font-semibold">Que vous soyez :</p>
    <ul class="text-lg list-disc list-inside ml-5 space-y-3">
      <li>Commerçant en quête d'<span class="text-selected-text">un site</span> utile pour vous,</li>
      <li>Industriel avec un besoin de <span class="text-selected-text">développement Backend</span>,</li>
      <li>Manager avec une problématique <span class="text-selected-text">télétravail</span> au sein de votre équipe,</li>
    </ul>
    <p class="section-paragraph text-xl font-semibold">Je vous accompagne dans votre besoin. Voici quelques exemples de réalisations passées :</p>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-6">
          <a target="_blank" href="https://kyllt.herokuapp.com/"><%= image_pack_tag 'Kyllt.png', class: "rounded w-full bg-nav h-36 lg:h-72 object-cover transform transition-all hover:scale-110"%></a>
          <a target="_blank" href="https://shielded-garden-50903.herokuapp.com/"><%= image_pack_tag 'Shop.jpg', class: "rounded w-full bg-nav h-36 lg:h-72 object-cover transform transition-all hover:scale-110"%></a>
          <a target="_blank" href="https://cardiologs.com/"><%= image_pack_tag 'Cardiologs.png', class: "rounded w-full bg-nav h-36 lg:h-72 object-cover transform transition-all hover:scale-110"%></a>
          <a target="_blank" href="https://www.thehackingproject.org/"><%= image_pack_tag 'THP.png', class: "rounded w-full bg-nav h-36 lg:h-72 object-cover transform transition-all hover:scale-110"%></a>
          <a target="_blank" href="https://medium.com/@n.hermet"><%= image_pack_tag 'mediumsearch.jpg', class: "rounded w-full bg-nav h-36 lg:h-72 object-cover transform transition-all hover:scale-110"%></a>
        </div>
  </section>
</div>

<!-- Clients -->
<div class="container mt-64 mx-auto px-10 md:px-14 lg:px-36 w-full">
  <div class="space-y-12 my-16">
    <h2 id="clients" class="secondary-title">Certes... Mais pourquoi moi ?</h2>
    <p class="section-paragraph text-xl font-semibold">Dans cette jungle de profils et d'agences vous proposant monts et merveilles, il est normal d'être hésitant. <br>
      <br> <br>
      Je vous explique ici comment je vois les choses.
    </p>
    <div class="w-full border border-nav p-16 lg:px-32 lg:py-20 lg:space-x-32 flex justify-center lg:justify-start flex-wrap lg:flex-nowrap">

      <!-- Client logo -->
      <div class="mb-6 lg:mb-0">
        <svg xmlns="http://www.w3.org/2000/svg" height="96px" viewBox="0 0 24 24" width="96px" fill="#FFFFFF"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M18.36 9l.6 3H5.04l.6-3h12.72M20 4H4v2h16V4zm0 3H4l-1 5v2h1v6h10v-6h4v6h2v-6h1v-2l-1-5zM6 18v-4h6v4H6z"/></svg>
      </div>

      <!-- Client info -->
      <div class="flex flex-wrap justify-center text-center lg:text-left lg:block">
        <h3 class="text-white text-3xl font-semibold">Commerçant</h3>

        <div class="w-full lg:w-auto flex flex-wrap justify-center lg:justify-start gap-3 mt-6 mb-8">
          <div class="badge">Site vitrine</div>
          <div class="badge">E-commerce</div>
          <div class="badge">Formations</div>
        </div>

        <p class="text-secondary"><span class="text-selected-text">Un allié</span> plus qu'un sous-traitant</p>
        <br>
        <p class="text-secondary"> C'est vous l'<span class="text-selected-text">expert</span> de votre métier.
          Le site doit donc être <span class="text-selected-text">pensé POUR vous</span>.
        </p>
        <br>
        <p class="text-secondary">Vous <span class="text-selected-text">comprendrez</span> et <span class="text-selected-text">maitriserez</span> votre site web.</p>
        <br><br>
        <p class="text-secondary">Un besoin ?</p>
          <button class="px-8 py-4 bg-theme text-white font-bold mt-12 flex items-center space-x-3" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/fulltrackdev/site-web-developpement-backend-consulting-clone?hide_event_type_details=1&hide_gdpr_banner=1'});return false;">
            <span>Discutons</span>
          </button>
      </div>

    </div>
    <div class="w-full border border-nav p-16 lg:px-32 lg:py-20 lg:space-x-32 flex justify-center lg:justify-start flex-wrap lg:flex-nowrap">

      <!-- Client logo -->
      <div class="mb-6 lg:mb-0">
        <svg xmlns="http://www.w3.org/2000/svg" height="96px" viewBox="0 0 24 24" width="96px" fill="#FFFFFF"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 7V3H2v18h20V7H12zM6 19H4v-2h2v2zm0-4H4v-2h2v2zm0-4H4V9h2v2zm0-4H4V5h2v2zm4 12H8v-2h2v2zm0-4H8v-2h2v2zm0-4H8V9h2v2zm0-4H8V5h2v2zm10 12h-8v-2h2v-2h-2v-2h2v-2h-2V9h8v10zm-2-8h-2v2h2v-2zm0 4h-2v2h2v-2z"/></svg>
      </div>

      <!-- Client info -->
      <div class="flex flex-wrap justify-center text-center lg:text-left lg:block">
        <h3 class="text-white text-3xl font-semibold">PME</h3>

        <div class="w-full lg:w-auto flex flex-wrap justify-center lg:justify-start gap-3 mt-6 mb-8">
          <div class="badge">Backend</div>
          <div class="badge">Ruby on Rails</div>
          <div class="badge">Gestion de Projet</div>
          <div class="badge">Agile</div>
          <div class="badge">Méthode Scrum</div>
        </div>

        <p class="text-secondary">Développeur Ruby on Rails capable de <span class="text-selected-text">management</span> et de <span class="text-selected-text">gestion de projet</span></p>
        <br>
        <p class="text-secondary">Background business à <span class="text-selected-text">360 degrés</span></p>
        <br>
        <p class="text-secondary">Fit à <span class="text-selected-text">tout type</span> de culture d'entreprise.</p>
        <br>
        <p class="text-secondary">Un recul métier sur ses lignes de codes.</p>
        <br>
        <p class="text-secondary">0% jugements, 0% résistance au changement, <span class="text-selected-text">100% pragmatique et efficient</span></p>
        <br><br>
        <p class="text-secondary">Bref... besoin d'un dèv ?</p>
          <button class="px-8 py-4 bg-theme text-white font-bold mt-12 flex items-center space-x-3" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/fulltrackdev/site-web-developpement-backend-consulting-clone?hide_event_type_details=1&hide_gdpr_banner=1'});return false;">
            <span>Discutons</span>
          </button>
      </div>

    </div>
    <div class="w-full border border-nav p-16 lg:px-32 lg:py-20 lg:space-x-32 flex justify-center lg:justify-start flex-wrap lg:flex-nowrap">

      <!-- Client logo -->
      <div class="mb-6 lg:mb-0">
        <svg xmlns="http://www.w3.org/2000/svg" height="96px" viewBox="0 0 24 24" width="96px" fill="#FFFFFF"><path d="M0 0h24v24H0V0zm0 0h24v24H0V0z" fill="none"/><path d="M1 9l2 2c4.97-4.97 13.03-4.97 18 0l2-2C16.93 2.93 7.08 2.93 1 9zm8 8l3 3 3-3c-1.65-1.66-4.34-1.66-6 0zm-4-4l2 2c2.76-2.76 7.24-2.76 10 0l2-2C15.14 9.14 8.87 9.14 5 13z"/></svg>
      </div>

      <!-- Client info -->
      <div class="flex flex-wrap justify-center text-center lg:text-left lg:block">
        <h3 class="text-white text-3xl font-semibold">Managers ou Chef.fes d'Equipe</h3>

        <div class="w-full lg:w-auto flex flex-wrap justify-center lg:justify-start gap-3 mt-6 mb-8">
          <div class="badge">Télétravail</div>
          <div class="badge">Organisation</div>
          <div class="badge">Agile</div>
          <div class="badge">Outils</div>
          <div class="badge">Process</div>
          <div class="badge">Workflows</div>
        </div>

        <p class="text-secondary">Mise en place ou amélioration du <span class="text-selected-text">télétravail</span></p>
        <br>
        <p class="text-secondary">Arrangement de vos <span class="text-selected-text">workflows</span>, communications, intégration d'outils techniques, ou même simplement coaching.</p>
        <br>
        <p class="text-secondary"><span class="text-selected-text">Audit</span> sur l'état de l'art.</p>
        <br>
        <p class="text-secondary">Mise à disposition de mes 5 années d'expériences managériales en <span class="text-selected-text">full-remote</span>.</p>
        <br>
        <p class="text-secondary">Mes compétences en management offshore, mes 4 années passées en full remote, mes recherches et lectures m'ont amené à rencontrer votre problématique, et y <span class="text-selected-text">apporter une solution</span>.</p>
        <br><br>
        <p class="text-secondary">Parce que même les meilleurs cherchent à faire mieux</p>
        <p class="text-secondary">Ne passez pas à côté de mon expérience :</p>
          <button class="px-8 py-4 bg-theme text-white font-bold mt-12 flex items-center space-x-3" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/fulltrackdev/site-web-developpement-backend-consulting-clone?hide_event_type_details=1&hide_gdpr_banner=1'});return false;">
            <span>Discutons</span>
          </button>
      </div>

    </div>
  </div>
</div>

</section>
</div>


<!-- Hire me -->
<div class="container mt-64 flex justify-between items-center mx-auto px-8 md:px-14 lg:px-36 w-full">
  <section class="w-full">
    <h2 id="hire" class="secondary-title">Contactez-moi</h2>
    <p class="section-paragraph">Choisissez votre mode de communication préféré :</p>

    <div class="w-full grid lg:grid-cols-2 gap-8 lg:gap-32 mt-24">
      <%= form_with url: contact_path, method: :post, class: "space-y-12" do |form| %>
        <div>
          <%= form.label :name, "Comment dois-je vous appeler ?", class: "text-white block mb-6 text-xl font-bold" %>
          <%= form.text_field :name, class: "w-full border border-input-border bg-input px-4 py-4" %>
        </div>
        <div>
          <%= form.label :email, "E-mail (promis, moi aussi je déteste les spams)", class: "text-white block mb-6 text-xl font-bold" %>
          <%= form.text_field :email, class: "w-full border border-input-border bg-input px-4 py-4" %>
        </div>
        <div>
          <%= form.label :message, "Message", class: "text-white block mb-6 text-xl font-bold" %>
          <%= form.text_area :message, class: "w-full border border-input-border bg-input px-4 py-4 h-56 resize-none" %>
        </div>

        <%= form.button "Envoyer", class: "px-6 py-2 bg-theme text-white font-bold"  %>
      <% end %>

      <div class="mt-12">
        <!-- Contact info -->
        <span  class="text-secondary mt-3 block">E-mail : <a href="mailto:nico@fulltrack.dev" class="underline">Nico@FullTrack.dev</a></span>
        <span  class="text-secondary mt-3 block">Visio : <a href="#" class="underline" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/fulltrackdev/site-web-developpement-backend-consulting-clone?hide_event_type_details=1&hide_gdpr_banner=1'});return false;">Créneau en visio sur Calendly</a></span>

        <!-- Socials -->
        <div class="flex mt-20 space-x-6">
          <span  class="text-secondary mt-3 block">Suivez-moi :</span>
          <!-- GitHub -->
          <a href="https://github.com/nicolas-hermet" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="42" height="42" preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16"><rect x="0" y="0" width="16" height="16" fill="none" stroke="none" /><g fill="white"><path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59c.4.07.55-.17.55-.38c0-.19-.01-.82-.01-1.49c-2.01.37-2.53-.49-2.69-.94c-.09-.23-.48-.94-.82-1.13c-.28-.15-.68-.52-.01-.53c.63-.01 1.08.58 1.23.82c.72 1.21 1.87.87 2.33.66c.07-.52.28-.87.51-1.07c-1.78-.2-3.64-.89-3.64-3.95c0-.87.31-1.59.82-2.15c-.08-.2-.36-1.02.08-2.12c0 0 .67-.21 2.2.82c.64-.18 1.32-.27 2-.27c.68 0 1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82c.44 1.1.16 1.92.08 2.12c.51.56.82 1.27.82 2.15c0 3.07-1.87 3.75-3.65 3.95c.29.25.54.73.54 1.48c0 1.07-.01 1.93-.01 2.2c0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/></g></svg>
          </a>
          <!-- StackOverFlow -->
          <a href="https://stackoverflow.com/users/10446986/nicolas-hermet" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="42" height="42" preserveAspectRatio="xMidYMid meet" viewBox="0 0 100 100"><rect x="0" y="0" width="100" height="100" fill="none" stroke="none" /><g fill="white"><path d="M65.269 85.165H23.208l.221-28.143l-6.32-.06L17.074 92h54.853V57.126h-6.658z"/><path d="M27.414 73.601h32.947v7.008H27.414z"/><path d="M28.187 60.984l32.97 3.183l-.69 7.153l-32.97-3.183z"/><path d="M31.203 46.715l31.877 8.996l-1.951 6.914l-31.877-8.996z"/><path d="M38.932 30.591l28.352 17.124l-3.715 6.151l-28.352-17.124z"/><path d="M68.509 46.43l-19.29-26.924l5.84-4.185l19.29 26.925z"/><path d="M70.378 9.182l7.086-1.185l5.462 32.67l-7.086 1.184z"/></g></svg>
          </a>
          <!-- Medium -->
          <a href="https://medium.com/@n.hermet" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="42" height="42" preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16"><rect x="0" y="0" width="16" height="16" fill="none" stroke="none" /><g fill="white"><path d="M9.025 8c0 2.485-2.02 4.5-4.513 4.5A4.506 4.506 0 0 1 0 8c0-2.486 2.02-4.5 4.512-4.5A4.506 4.506 0 0 1 9.025 8zm4.95 0c0 2.34-1.01 4.236-2.256 4.236c-1.246 0-2.256-1.897-2.256-4.236c0-2.34 1.01-4.236 2.256-4.236c1.246 0 2.256 1.897 2.256 4.236zM16 8c0 2.096-.355 3.795-.794 3.795c-.438 0-.793-1.7-.793-3.795c0-2.096.355-3.795.794-3.795c.438 0 .793 1.699.793 3.795z"/></g></svg>
          </a>
          <!-- LinkedIn -->
          <a href="https://www.linkedin.com/in/nicolas-hermet/" target="_blank">
            <svg class="w-8 h-8 lg:w-12 lg:h-12" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"><rect x="0" y="0" width="42" height="42" fill="none" stroke="none" /><path d="M27.25 3.125h-22a2 2 0 0 0-2 2v22a2 2 0 0 0 2 2h22a2 2 0 0 0 2-2v-22a2 2 0 0 0-2-2zM11.22 26.78h-4v-14h4v14zm-2-15.5c-1.384 0-2.5-1.118-2.5-2.5s1.116-2.5 2.5-2.5s2.5 1.12 2.5 2.5s-1.118 2.5-2.5 2.5zm16 15.5h-4v-8.5c0-.4-.404-1.054-.688-1.212c-.375-.21-1.26-.23-1.665-.034l-1.648.793v8.954h-4v-14h4v.615c1.582-.723 3.78-.652 5.27.184c1.58.885 2.73 2.863 2.73 4.7v8.5z" fill="white"/></svg>
          </a>
          <!-- Twitter -->
          <a href="https://twitter.com/HermetNicolas" target="_blank">
            <svg class="w-8 h-8 lg:w-12 lg:h-12" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24"><rect x="0" y="0" width="42" height="42" fill="none" stroke="none" />
              <path d="M22.46 6c-.77.35-1.6.58-2.46.69c.88-.53 1.56-1.37 1.88-2.38c-.83.5-1.75.85-2.72 1.05C18.37 4.5 17.26 4 16 4c-2.35 0-4.27 1.92-4.27 4.29c0 .34.04.67.11.98C8.28 9.09 5.11 7.38 3 4.79c-.37.63-.58 1.37-.58 2.15c0 1.49.75 2.81 1.91 3.56c-.71 0-1.37-.2-1.95-.5v.03c0 2.08 1.48 3.82 3.44 4.21a4.22 4.22 0 0 1-1.93.07a4.28 4.28 0 0 0 4 2.98a8.521 8.521 0 0 1-5.33 1.84c-.34 0-.68-.02-1.02-.06C3.44 20.29 5.7 21 8.12 21C16 21 20.33 14.46 20.33 8.79c0-.19 0-.37-.01-.56c.84-.6 1.56-1.36 2.14-2.23z" fill="white"/>
            </svg>
          </a>
        </div>

        <div class="flex mt-20 space-x-6">
          <span  class="text-secondary mt-3 block">Engagez-moi :</span>
          <!-- Malt -->
          <a href="https://www.malt.fr/profile/fulltrackdev" target="_blank">
            <svg class="w-8 h-8 lg:w-12 lg:h-12" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 277 277">
              <g>
                <path fill="white" d="M187.518,84.731c-14.1-14.1-29.162-4.974-38.588,4.452l-44.52,44.523L59.885,178.23
                  c-9.426,9.425-19.292,23.746-4.452,38.584c14.84,14.843,29.161,4.975,38.585-4.451l44.523-44.523l44.523-44.522
                  C192.491,113.891,201.616,98.829,187.518,84.731"/>
                <path fill="white" d="M102.445,81.084l18.855,18.854l19.192-19.192c1.303-1.306,2.626-2.518,3.957-3.661
                c-2.01-10.14-7.796-19.307-23.158-19.307c-15.391,0-21.17,9.203-23.168,19.365C99.559,78.386,100.994,79.632,102.445,81.084"/>
                <path fill="white" d="M140.482,221.137l-19.18-19.181l-18.845,18.843c-1.431,1.432-2.855,2.74-4.273,3.969
                  c2.161,10.337,8.277,19.805,23.11,19.805c14.872,0,20.98-9.519,23.127-19.889C143.102,223.549,141.781,222.436,140.482,221.137"/>
                  <path fill="white" d="M94.449,126.791h-36.35c-13.329,0-30.433,4.198-30.433,24.136c0,14.877,9.522,20.986,19.894,23.132
                  C48.788,172.642,94.449,126.791,94.449,126.791"/>
                  <path fill="white" d="M195.101,127.759c-1.151,1.338-46.907,47.305-46.907,47.305h35.834c13.329,0,30.433-3.149,30.433-24.136
                  C214.461,135.539,205.261,129.757,195.101,127.759"/>
                  <path fill="white" d="M106.359,114.859l6.494-6.494L94.01,89.52c-9.427-9.425-23.746-19.292-38.586-4.452
                  c-10.882,10.882-8.465,21.473-2.693,30.071C54.489,115.008,106.359,114.859,106.359,114.859"/>
                  <path fill="white" d="M136.237,186.996l-6.511,6.511l19.194,19.192c9.426,9.427,24.488,18.551,38.586,4.453
                  c10.52-10.521,8.106-21.571,2.29-30.423C187.924,186.864,136.237,186.996,136.237,186.996"/>
                </g>
              </svg>
            </a>

            <!-- Freelance.com -->
            <a href="https://plateforme.freelance.com/freelance/60324/Nicolas" target="_blank">
              <svg class="w-8 h-8 lg:w-12 lg:h-12" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 148 114"><title>Logo Freelance.com</title>
                <g>
                  <path d="M13.4,69.3C10.9,69.5,9.1,69,7.9,68c-1.1-1-1.6-2.6-1.6-4.8V30.5H0v32.7c0,4.1,1.1,7.2,3.4,9.3c2.1,1.9,5,2.9,8.6,2.9c0.5,0,0.9,0,1.4,0l0.5,0v-6.1L13.4,69.3z" fill="white"></path>
                  <path d="M19.8,3.6c-2.3,2.1-3.4,5.2-3.4,9.3v0.3h-4.7v6.1h4.7V44h6.3V19.3h7.7v-6.1h-7.7v-0.3c0-2.2,0.5-3.8,1.6-4.8c1.2-1.1,3-1.5,5.5-1.3l0.6,0V0.8l-0.5,0C25.5,0.5,22.1,1.4,19.8,3.6" fill="white"></path>
                  <path d="M50.7,12.7c-3.8,0-6.7,1.3-8.6,3.9v-3.4h-6.3V44h6.3V27.6c0-3,0.8-5.2,2.5-6.5c1.7-1.4,3.7-2,6-1.9l0.6,0v-6.5H50.7z" fill="white"></path>
                  <path d="M42.4,44.1V48c-2.6-3.1-6.1-4.6-10.5-4.6c-4.2,0-7.9,1.6-10.9,4.7c-3,3.1-4.5,6.9-4.5,11.3c0,4.4,1.5,8.3,4.5,11.4c3,3.1,6.6,4.6,10.9,4.6c4.4,0,7.9-1.5,10.5-4.6v3.8h6.3V44.1H42.4z M39.5,66.4c-1.9,1.9-4.2,2.8-7,2.8c-2.8,0-5.1-0.9-7-2.8c-1.9-2-2.8-4.3-2.8-7.1c0-2.8,0.9-5.1,2.8-7c1.9-1.9,4.2-2.9,7-2.9c2.8,0,5.1,0.9,7,2.9c1.9,1.9,2.8,4.2,2.8,7C42.4,62.2,41.4,64.5,39.5,66.4" fill="white"></path>
                  <path d="M70.3,43.4c-3.8,0-6.8,1.3-8.9,3.8v-3h-6.3v30.5h6.3V58.5c0-5.9,2.8-9.1,7.9-9.1c4.2,0,6.7,2.5,6.7,6.9v18.3h6.3V56C82.3,48.3,77.6,43.4,70.3,43.4" fill="white"></path><path d="M110.8,63.8l-0.3,0.5c-1.6,3-4.7,4.8-8.3,4.8c-2.8,0-5.1-0.9-7-2.8c-1.8-1.9-2.8-4.2-2.8-7c0-2.8,0.9-5.1,2.8-7c1.9-1.9,4.2-2.8,7-2.8c3.6,0,6.7,1.8,8.1,4.8l0.3,0.6l5.3-3l-0.2-0.5c-2.4-4.9-7.6-8-13.5-8c-4.6,0-8.4,1.6-11.4,4.6c-3,3-4.6,6.9-4.6,11.4c0,4.6,1.5,8.3,4.6,11.4l0,0c3,3,6.9,4.6,11.4,4.6c5.8,0,11-3,13.7-7.9l0.3-0.5L110.8,63.8z" fill="white"></path>
                  <path d="M35.5,110.5c-4.6,0-8.4-1.5-11.4-4.6l0,0c-3.1-3.1-4.6-6.9-4.6-11.4c0-4.5,1.5-8.3,4.6-11.4c3-3.1,6.9-4.6,11.4-4.6c5.9,0,11.1,3.1,13.5,8l0.2,0.5l-5.3,3.1l-0.3-0.6c-1.4-3-4.5-4.8-8.1-4.8c-2.8,0-5.1,0.9-7,2.8c-1.9,1.9-2.8,4.2-2.8,7c0,2.7,0.9,5.1,2.8,7c1.9,1.9,4.2,2.8,7,2.8c3.6,0,6.7-1.8,8.3-4.8l0.3-0.5l5.4,3.1l-0.3,0.5C46.5,107.5,41.3,110.5,35.5,110.5" fill="white"></path><path d="M133.2,110.5h-6.3V91.9c0-4.1-2.2-6.6-5.9-6.6c-4.3,0-6.6,2.9-6.6,8.3v16.9h-6.3V91.9c0-4.1-2.1-6.6-5.6-6.6c-4.3,0-6.9,3.1-6.9,8.3v16.9h-6.3V80h6.3v2.8c2-2.3,4.8-3.5,8.1-3.5c3.8,0,6.7,1.5,8.6,4.5c2.1-3,5.2-4.5,9.2-4.5c6.9,0,11.6,5,11.6,12.4V110.5z" fill="white"></path>
                  <path d="M68.7,103.6c-9.8,0-17.7-8-17.7-17.7s8-17.7,17.7-17.7c9.8,0,17.7,8,17.7,17.7S78.5,103.6,68.7,103.6 M68.7,74.2c-6.4,0-11.7,5.2-11.7,11.7c0,6.4,5.2,11.7,11.7,11.7c6.4,0,11.7-5.2,11.7-11.7C80.4,79.5,75.1,74.2,68.7,74.2" fill="white"></path><path d="M74.2,85.9c0,3.1-2.5,5.5-5.5,5.5c-3.1,0-5.5-2.5-5.5-5.5c0-3.1,2.5-5.5,5.5-5.5C71.8,80.4,74.2,82.8,74.2,85.9" fill="white"></path><path d="M79.3,16.5c-2.8-3.2-6.5-4.8-10.9-4.8c-4.7,0-8.5,1.5-11.5,4.6c-2.9,3-4.4,6.9-4.4,11.4c0,4.6,1.5,8.4,4.5,11.5c3,3,7,4.5,11.8,4.5c5.9,0,10.4-2.3,13.4-6.9l0.3-0.5l-5.4-3l-0.3,0.5c-1.6,2.7-4.2,4-7.9,4c-5.1,0-8.7-2.6-9.9-7.1h24.3l0.1-0.5c0.1-0.8,0.2-1.6,0.2-2.4C83.6,23.3,82.1,19.5,79.3,16.5 M59,25c1.1-4.5,4.6-7.3,9.4-7.3c4.5,0,7.8,2.8,8.7,7.3H59z" fill="white"></path>
                  <path d="M113.2,16.5c-2.8-3.2-6.5-4.8-10.9-4.8c-4.7,0-8.5,1.5-11.5,4.6c-2.9,3-4.4,6.9-4.4,11.4c0,4.6,1.5,8.4,4.5,11.5c3,3,7,4.5,11.8,4.5c5.9,0,10.4-2.3,13.4-6.9l0.3-0.5l-5.4-3l-0.3,0.5c-1.6,2.7-4.2,4-7.9,4c-5.1,0-8.7-2.6-9.9-7.1h24.3l0.1-0.5c0.1-0.8,0.2-1.6,0.2-2.4C117.4,23.3,116,19.5,113.2,16.5 M92.8,25c1.1-4.5,4.6-7.3,9.4-7.3c4.5,0,7.8,2.8,8.7,7.3H92.8z" fill="white"></path>
                  <path d="M143.9,48.1c-2.8-3.2-6.5-4.8-10.9-4.8c-4.7,0-8.5,1.5-11.5,4.6c-2.9,3-4.4,6.9-4.4,11.4c0,4.6,1.5,8.4,4.5,11.5c3,3,7,4.5,11.8,4.5c5.9,0,10.4-2.3,13.4-6.9l0.3-0.5l-5.4-3l-0.3,0.5c-1.6,2.7-4.2,4-7.9,4c-5.1,0-8.7-2.6-9.9-7.1h24.3l0.1-0.5c0.1-0.8,0.2-1.6,0.2-2.4C148.1,55,146.7,51.2,143.9,48.1 M123.5,56.7c1.1-4.5,4.6-7.3,9.4-7.3c4.5,0,7.8,2.8,8.7,7.3H123.5z" fill="white"></path>
                </g></svg>
            </a>
          </div>
      </div>

    </div>
  </section>
</div>
