<!DOCTYPE html>
<html>
  <head>
    <title>FullTrackDev</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
    <%= yield :recaptcha_js %>

  </head>

  <body class="font-inter antialiased bg-gray-900 text-gray-300 tracking-tight">
    <div class="flex flex-col min-h-screen">
      <%= render 'navbar/navbar' %>
      <main class="grow">
        <%= render 'page_illustration/page_illustration' %>

        <%= render 'flash/flash' %>
        <%= yield %>
      </main>
      <%= render 'footer/footer' %>
    </div>
    <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
  </body>
</html>
